.card{
    display: flex;
    flex-direction: row;
}
.imageWrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.image{
    width: 150px;
    height: 200px;
    border-radius: 10px;
}
.renterInformation{
    display: flex;
    padding: 10px;
    align-items: center;
}
.in4mationWrap{
    max-width: 200px;
    margin-top: 3px;
}
.in4mationWrap label{
    font-size: 13px;
}
.in4mationWrap label p{
    font-size: 16px;
    margin: 5px 0;
}
.CCCD{
    letter-spacing: 2px;
}