.A4Size{
    font-family: 'Times New Roman', Times, serif;
    width:794px ;
    height: 1123px;
    padding: 30px;
    font-size: 13px;
}
p.contract{
    margin: 1px 0 5px 0
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contract.contractInput{
    font-family: 'Times New Roman', Times, serif;
    border: none;
    border-bottom: dotted 0.4px;
    width: 150px;
    border-radius: 0;
    height: 25px !important;
}   
.contract.contractInput:focus{
    outline: none;
}
.contract.contractInput.address{
    width: 100%;
}
li.contract{
    text-align: justify;
}
.footer{
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
}