.functionWrap{
    display: flex;
    flex-wrap: wrap;
    padding:20px;
}

.item{
    display: flex;
    width: 150px;
    height: 150px;
    align-items: center;
    justify-content: center;
    background-color: red;
    margin: 10px;
    border-radius: 10px;
}
.function:hover{
    background-color: blue;
}