
 @import url('https://fonts.googleapis.com/css2?family=Phudu:wght@300;500;600&display=swap');
:root{
font-family: 'Phudu', sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 1px;
}
body {
  margin: 0;
  
}
button{
  
  font-family: 'Phudu', sans-serif;
  min-height: 35px;
  min-width: 35px;
  border-radius: 5px;
  border: none;
  padding: 0 10px;
  text-transform: uppercase;
  box-sizing:border-box;
  margin: 0 3px

}
button:hover{
  border-radius: 0;
  transition: 0.7s ease-in-out;
  cursor: pointer;
}
select{
  min-height: 35px;
  border-radius: 5px;
  padding: 0px 10px;
  font-size: 15px;
 margin-right: 5px ;
}
input, input.rmdp-input{
  
  font-family: 'Phudu', sans-serif;
  box-sizing: border-box;
   min-height: 25px;
   height: 35px;
  border-radius: 5px;
  border: 0.3px solid;
  margin-right: 5px ;
}
td, th{
  padding: 5px 10px;
  height: 35px;
}
table{
  text-align: start;
  align-items: center;
  border-radius: 10px;
  border-collapse: collapse;
  border-left: 4px solid #FFF34A ;
}
tr:hover:not(:nth-child(1)){
  background-color: #FFC94A !important;
  cursor: pointer;
}
tr:nth-child(1){
  background-color: #FFF34A;
  color: black;
}
select{
  font-family: 'Phudu', sans-serif;
}

label{
  padding: 5px;
  display: flex;
  flex-direction: column;
}
span{
  font-family: 'Phudu', sans-serif;
}
.chuyen-di{
  color: red;
}