.function{
}


.function button{
    letter-spacing: 1px;
    font-size: 18px;
    list-style: none;
    cursor: pointer;
    padding: 10px;
    background-color: rgba(221, 221, 221, 0.123);
    border-radius: 0;
    border-left: #F9D949 solid 3px;
}
.function button:hover{
    background-color: rgb(255, 233, 173);
    border-radius: 0;
   
}
.function button svg{
    margin-right: 10px ;
    border-radius: 10px;
    background: #F9D949;
    padding: 7px
}
.function button span{
 justify-items: center;
    align-items: center;
    display: flex;
}
